.button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: var(--primary-color);
  color: var(--text-color);
}

.button:hover {
  background-color: var(--primary-color-hover);
}